
  <%- include('../partials/header') %>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen}"
    >
    <%- include('../partials/sidebar') %>
    <div class="flex flex-col flex-1">
      <%- include('../partials/navbar') %>
        <main class="h-full pb-16 overflow-y-auto">
          <!-- Remove everything INSIDE this div to a really blank page -->
           <h2 class="m-6 p-4  text-2xl font-semibold text-gray-700 dark:text-gray-200">Home</h2>
           <div class="grid gap-6 mb-8 p-4 md:grid-cols-2 grid-rows-2">
            <!-- Card -->
            <div
              class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
            >
              <div
                class="p-3 mr-4 text-orange-500 rounded-full dark:text-white "
              >
              <i class="fa-brands fa-git-alt" style="font-size: 30px;"></i>
              </div>
              <div>
                <p
                  class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                >
                 Getting Started with ProjectRepo
                </p>
                <p
                  class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                >
                 <a href="/GettingStarted" class="hover:underline">Learn More</a>
                </p>
              </div>
            </div>
            <!-- Card -->
            <div
              class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
            >
              <div
                class="p-3 mr-4 "
              >
              <i class="fa-solid fa-cloud-arrow-up" style="font-size: 30px;color: blue;"></i>
              </div>
              <div>
                <p
                  class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                >
                 Publish Your Repo
                </p>
                <p
                  class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                >
                  <a href="/create" class="hover:underline">Get Started</a>
                </p>
              </div>
            </div>
            <!-- Card -->
            <div
              class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
            >
              <div
                class="p-3 mr-4"
              >
              <i class="fa-solid fa-code-compare" style="font-size: 30px;color: #17A2B8;"></i>
              </div>
              <div>
                <p
                  class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                >
                  Explore Repos
                </p>
                <p
                  class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                >
                  <a href="/explore" class="hover:underline">Show More </a>
                </p>
              </div>
            </div>
            <!-- Card -->
            <div
              class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
            >
              <div
                class="p-3 mr-4 "
              >
              <i class="fa-solid fa-user-group" style="font-size: 30px;color: #17A2B8;"></i>
              </div>
              <div>
                <p
                  class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                >
                  Community
                </p>
                <p
                  class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                >
                  <a href="/community" class="hover:underline">Join Now</a>
                </p>
              </div>
            </div>
          </div>
        </main>
        <footer>
          

        </footer>
      </div>
    </div>
  </body>
</html>
